includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - src
        - config
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: false
    checkUninitializedProperties: true
    checkInternalClassCaseSensitivity: true
    reportUnmatchedIgnoredErrors: true
    configDirectories:
        - %currentWorkingDirectory%/config
